#canvas {
  width: 200px;
  height: 70px;
  font-size: 1.5em;
  font-family: sans-serif;
  text-align: center;
}

label {
  padding: 5px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  visibility: hidden;
}

label {
  line-height: 24px;
  margin: 2px 0;
  display: block;
  height: 24px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 10px;
  vertical-align: bottom;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 90px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 5px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #f32121;
}
input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19x);
  transform: translateX(19px);
}
