:root {
    --del-btn-display: none;
    --edit-display: none;
}
body {
    background-color: rgba(255, 234, 234, 0);
    display: flex;
    justify-content: center;
    font-size: 16px;

}
hr {
    background-color: rgb(219, 219, 219);
    height: 0.4px;
    width: 100%
}

input {
    width: 100%;
    margin: auto;
}

button {
    cursor: pointer;
    margin: auto;
    font-size: 0.8em;
    box-shadow: 1px 1px 2px rgba(73, 73, 73, 0.26);
    transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

button:active {
    transform: scale(0.95);
}

button:hover {
    filter: brightness(1.1);
}

.del-btn{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 0.8em;
    font-weight: 700;
    background-color: rgb(200, 0, 0);
    color: white;
    border-radius: 20px;
    border: none;
}

.color {
    background-color: aqua;
}

.box {
    background-color: white;
    margin: 4px  8px;
    padding: 10px;
    width: 90%;
    border: 0.4px solid rgb(220, 220, 220);
    box-shadow: 2px 2px 4px rgba(73, 73, 73, 0.26);
}

.del-btn {
    display: var(--del-btn-display);
}

.footnote {
    font-size: 0.7em;
    margin: 10px;
    color: gray;
}

.option {
    flex-grow: 1;
    padding: 3px;
 }

 .title {
    margin-right: auto;
    font-weight: bold;
 }

 .quick-phrase {
    margin: 0 auto;
    width: 95%;
 }

 .quick-phrase .item{
    transition: all 0.2s ease;
 }

 .dragging {
    opacity: 0.1;
    transform: scale(1.02);
    transition: transform 0.2s ease, opacity 0.2s ease;
}

 .site-icon {
    height: 20px;
    width: auto;
    padding: 3px;
 }

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.span {
    width: 100%;
}

.flex {
    display: flex;
    align-items: center;
}

.hide {
    display:none;
}

.edit {
    display: var(--edit-display);
}

.link-item {
    margin-right: 10px;
}

/* switch style start*/

/* the size of the swith*/
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switchBox {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;
    visibility: hidden;
}

/* background color of the switch*/
.slider {
    cursor:pointer;
    position: absolute;
    background-color: lightgray;

    border: 0.5px solid rgb(195, 195, 195);

    /*stretch the area*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border-radius: 10px;
    transition: 0.2s;
}

/*build slider in the switch*/
.slider:before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 4.5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

/*behavior when switch is turned on*/
/*change switch background-color*/
.switchBox:checked + .slider {
    background-color: rgb(200, 0, 0);
}

/*change position of the slider*/
.switchBox:checked + .slider:before{
    transform: translateX(20px);
}

/* switch style end*/

#version {
    margin-left: auto;
    font-size: 0.5em;
}

#new-phrase{
    display:inline-block;

}

#new-btn{
    background-color: rgb(101, 152, 24);
    border: none;
    color: white;
    border-radius: 20px;
    height: 25px;
}

#edit-btn {
    background-color: rgb(98, 98, 98);
    border: none;
    color: white;
    border-radius: 20px;
    height: 25px;
}

#save-btn {
    background-color: rgb(200,0, 0);
    border: none;
    color: white;
    border-radius: 20px;
    height: 25px;
}

#canvas {
    width: 300px;
    height: auto;
}